.custom-bg
{
	background:#eeeeee !important;
}

.box-shadow {
   
    box-shadow: 1px 1px 25px;
    color: #757575 ;
}

.box-shadow:hover  {
    color:  #424242;
}

.login box-shadow {
   
    box-shadow: 10px 10px 25px;
    color: #ffd180 ;
}

.login box-shadow:hover  {
	 box-shadow: 5px 10px 8px;
    color:  #ffd180;
}


.list-group-item.active {
   
    background-color:#eeeeee ;
    border-color: #eeeeee;
    
}

.discount-label
{
	font-size: 10px!important;
}












 
        
         

