.custom-bg
{
	background:#eeeeee !important;
}

.box-shadow {
   
    box-shadow: 1px 1px 25px;
    color: #757575 ;
}

.box-shadow:hover  {
    color:  #424242;
}

.login box-shadow {
   
    box-shadow: 10px 10px 25px;
    color: #ffd180 ;
}

.login box-shadow:hover  {
	 box-shadow: 5px 10px 8px;
    color:  #ffd180;
}


.list-group-item.active {
   
    background-color:#eeeeee ;
    border-color: #eeeeee;
    
}

.discount-label
{
	font-size: 10px!important;
}




/*Toast Css*/

#toast{
            min-width: 300px;
            position: fixed;
            bottom: 30px;
            left: 50%;
            margin-left: -120px;
            background:#333;
            padding: 15px;
            color: white;
            text-align: center;
            z-index: 1;
            font-size: 18px;
            visibility: hidden;
            box-shadow: 0px 0px 100px #000;
        }

#toast.display{
            visibility: visible;
            animation: fadeIn 0.5s,fadeOut 0.5s 2.5s;
        }

        @keyframes fadeIn {
            from{
                bottom: 0;
                opacity: 0;
            }
            to{
                bottom: 30px;
                opacity: 1;
            }
            
        }


        @keyframes fadeOut {
            from{
                bottom: 30px;
                opacity: 1;
            }
            to{
                bottom: 0;
                opacity: 0;
            }
        }


footer{
	background-color:#282828;
	color:white;
	height:60vh;
	
}

.footer-widget{
	
	margin:0 10px;
	text-align:justify;
}

.widget-title{
	color:white;
	margin-top:30px;
	
	text-transform:uppercase;
	font-size:20px;
}

.about-widget p
{
	line-height:10px;
	margin:10px 0 30px 0;
}

.cards img{
	display:inline-block;
	margin-right:15px;
	margin-left:15px;

}

.about-widget p span{
	margin-right:10px;
}


.categories-widget, .information-widget
{
	margin-left:50px;
}

.footer-widget ul{
	margin-left:20px;
	
}

.footer-widget ul li{
	
	padding-bottom:14px;
	}
	
.footer-widget ul li a{
	color:white;
	text-decoration:none;
	}
	
.footer-widget ul li a:hover{
	color:#d2d2d2;
	text-decoration:none;
	margin-left:10px;
	transition:all .5s ease;
	}

.contact-address{
	padding-bottom:20px;
	border-bottom:1px solid #9a98988c;
}
.contact-number, .contact-email{
	margin:10px 0;
}
.social-widgets a{
	display:inline-block;
	font-size:20px;
	color:#aba8a8;
	
}







.whole-card{
	background: #eee5e9;
    border: none;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
}
.whole-card:hover{
   transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}
.text-btn{
    background: #ef6f6c;
    border-radius: 10px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-weight:600;
    text-transform: uppercase;
    cursor: pointer;
    float: left;
    margin-bottom: 15px;
}
.text-btn:hover{
    transform: translateX(5px);
    background-color:#f83835 ;
    color:white;
}




@media (max-width: 320px)
footer {
    height: 40vh;
}
	
@media (max-width:768px){
	footer{
	
	   
    height: 50vh
	
}
}

@media (max-width:540px){
	footer{
	
	   
    height: 60vh
	
}
}

@media (max-width:1024px){
	footer{
	
	   
    height: 100vh
	
}
}

@media (max-width:576px){
	footer{
	
	
    height: 200vh;
	
}
}




 
        
         

